<suite name="Suite">

  <!-- LOGIN TEST -->
  <test name="Login Test">
    <parameter name="sheetName" value="LoginSheet"/>
    <classes>
      
      <!-- ✅ FIXED CLASS NAME -->
      <class name="logintestcase.LoginTestCase">
        <methods>
          <include name="validateLoginPageTitleAfterLogin"/>
        </methods>
      </class>

    </classes>
  </test>

  <!-- BRANCH TEST -->
  <test name="Branch Test">
    <parameter name="sheetName" value="BranchSheet"/>
    <classes>

      <class name="branch_division_finyear.Branch_Division_FinYear_TestCase">
        <methods>
          <include name="validate_AllBranch_Division_FinYear_with_DataProvider"/>
        </methods>
      </class>

    </classes>
  </test>

</suite>